#table td {
    
    
    width: 150px;
    height: 150px;
    
    border: solid #f4f4f4 5px;
    border-collapse: collapse;
    
}

#table {
    text-align: left;
    margin-top: 40px;
}

#gameChanger td {
    text-align: center;
}

#shapes {
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    
}

#shapes td {
    height: 100px;
    width: 100px;
}
body {
    background-color: #f4f4f4;
}

.fill {
    text-align: center;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    border: dashed black 5px !important;
    /* ezt nem értem ezt meg kell kérdezni */
}



.zero {
    border: solid red 5px;  
}